body{
    background-image: linear-gradient(rgba(0,0,0,0.266),rgba(0,0,0,0.376)),url("images/login-bg.jpeg") ;
    height: 100vh;
}

.login-top{
    width: 100vw;
    height: 60px;
    background-color: rgba(0,0,0,0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img{
    width: 130px;
    height: 50px;
}

.login-box{
    background-color: rgba(0,0,0,0.866);
    
    width: 390px;
    height: 550px;
    border-radius: 8px;
    padding: 50px;
}

.form-control{
    border: none !important;
}

.mb-3 p{
   
    display: inline;
    margin-left: 98px;
    color: #989898;
    font-size: small;
    
}